<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <title>FlightLog</title>
  <style>
    th {
      font-weight: bold;
    }

    td,
    th,
    li {
      white-space: nowrap;
      font-size: medium;
      padding: 1px;
    }

    table,
    td,
    th,
    div,
    img {
      border: 0px solid red;
    }
  </style>
</head>

<body>
  <table>
    <tr>
      <td>Flight ID</td>
      <td>{{ flight.tenant }}-{{ flight.id }} </td>
    </tr>
    <tr>
      <td>Route</td>
      <td>{{ flight.departure }}-{{ flight.destination }} </td>
    </tr>
    <tr>
      <td>Blocktime</td>
      <td>{{ flight.blockoff }}-{{ flight.blockon }} </td>
    </tr>
    <tr>
      <td>Airtime</td>
      <td>{{ flight.takeoff }}-{{ flight.landing }} </td>
    </tr>
    <tr>
      <td>Night</td>
      <td>{{ flight.isNight() }} </td>
    </tr>
  </table>
</body>