<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>FlightLog</title>
    <style>
        .grid {
            display: flex;
            gap: 2rem;
        }

        .left-column {
            flex: 4;
        }

        .right-column {
            flex: 3;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 25px 5px;
        }
        th {
            font-weight: bold;
        }
        td, th, li {
            white-space: nowrap;
            font-size:medium;
            padding: 1px; 
        }
        table, td, th, div, img {
            border: 0px solid red;
        }
    </style>
</head>

<body>
    <main class="container-fluid">
        <div class="grid">
            <section class="left-column">
                <h1>FlightLog</h1>

                <a href="/refresh">Refresh &#x1F501;</a>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>blockoff</th>
                        <th>Departure</th>
                        <th>takeoff</th>
                        <th>Aircraft</th>
                        <th>Callsign</th>
                        <th>Airtime</th>
                        <th>landing</th>
                        <th>ldgs</th>
                        <th>Destination</th>
                        <th>blockon</th>
                        <th>Blocktime</th>
                        <th>pic</th>
                        <th>crew</th>
                        <td>pricecat</td>
                    </tr>
                    {% for flight in data %}
                    <tr>
                        <td><a href="/flight/{{ flight.flightid }}">{{ flight.tenant[:3] }} {{ flight.flightid }}</a></td>
                        <td>{{ flight.date.strftime('%d.%m.%Y') }}</td>
                        <td>{{ flight.blockoff }}</td>
                        <td>{{ flight.departure }}</td>
                        <td>{{ flight.takeoff }}</td>
                        <td>{{ flight.actype }}</td>
                        <td>{{ flight.callsign }}</td>
                        <td>{{ flight.airtime }}</td>
                        <td>{{ flight.landing }}</td>
                        <td>{{ flight.landings }}</td>
                        <td>{{ flight.destination }}</td>
                        <td>{{ flight.blockon }}</td>
                        <td>{{ flight.blocktime }}</td>
                        <td>{{ "&#x1F7E2;" | safe if flight.pic else "&#x1F534;" | safe }}</td>
                        <td>{{ flight.persons }}</td>
                        <td>{{ flight.pricecat }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
            <section class="right-column">
                <h2>Statistics</h2>
                <ul>
                    <li>Blocktime: {{ statistics["blocktime"] }}h</li>
                    <li>Avg. month blocktime: {{ statistics["avg_blocktime_month"] }}h</li>
                    <li>Blocktime (PIC): {{ statistics["blocktime_pic"] }}h</li>
                    <li>Blocktime (Dual): {{ statistics["blocktime_dual"] }}h</li>
                    <li>Airtime: {{ statistics["airtime"] }}h</li>
                    <li>Landings: {{ statistics["landings"] }}</li>
                    <li>Aircraft: {{ statistics["aircraft"] }}</li>
                </ul>
                <img src="/graph/bt_ac" style="max-width: 100%; height: auto;">
                <img src="/graph/bt_ac?pic=1" style="max-width: 100%; height: auto;">
                <img src="/graph/other" style="max-width: 100%; height: auto;">
                <img src="/graph/bt_cs" style="max-width: 100%; height: auto;">
            </section>
        </div>
    </main>
</body>

</html>
